    /* ----------------------Mobile 미디어쿼리------------------------------ */
    @media only screen and (max-width: 480px) {
}

    /* ----------------------Desktop 미디어쿼리------------------------------ */
    @media only screen and (min-width: 2000px) { 
}

   /* ------------------------------------------------------------- */
   @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
   /* -------- spaces ------- */
.space {
    height: 1vw;
}

.space1 {
    height: 3vw;
}

.space2 {
    height: 7.5vw;
}

.space3 {
    height: 8vw;
}

.space4 {
    height: 10vw;
}

.space5 {
    height: 15vw;
}

.space6 {
    height: 20vw;
}

.space7 {
    height: 30vw;
}
/* ------------------------ */
.header {
    width: 100%;
    height: 1vw;
    top: 0;
    left: 0;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.678);
    position: fixed;
    z-index: 10;
}

.header > a {
    font-size: 1vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    z-index: 1;
}


body {
    width: 100%;
    height: auto;
    font-family: 'Pretendard';
    overflow-x: hidden;
    background-color: white;
    -webkit-animation: fadein 2.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* == intro == */
.intro-wrap {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20.8vw;
}

.intro-img {
}

.intro-text {
    width: 100%;
    font-size: 4vw;
    margin: auto;
    font-weight: 800;
    color: black;
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

  
/* === summary === */
.summary-wrap {
    width: 55.5vw;
    height: auto;
    margin: auto;
    margin-top: 20.8vw;
}

.summary-section1 {
    font-size: 3.5vw;
    font-weight: 900;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary-section2 {
    display: flex;
    margin-top: 1.7vw;
}

summary-section2-text {
    font-size: 1.2vw;
    max-width: 38.2vw;
    margin-left: 3.47vw;
    font-weight: 600;
}

.summary-section3 {
    display: flex;
    margin-top: 1.7vw;
    justify-content:space-between;
}

h1 {
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

summary-section3-text {
    font-size: 1.2vw;
    max-width: 38vw;
    font-weight: 600;
}

/* == about == */

.about-wrap {
    width: auto;
    margin: auto;
    margin-top: 6vw;
}

.about-video {
    filter: brightness(30%);
    position: absolute;
    left: 0%;
}

.about-texts {
    max-width: 38vw;
    color: white;
    padding: 20% 10%;
    position: relative;
}

.about-text-h {
    font-weight: 800;
    font-size: 2.7vw;
}

.about-text-b {
    font-weight: 500;
    font-size: 1.3vw;
}

.about-link {
    font-size: 1.3vw;
    font-weight: 700;
    text-decoration: none;
    color: #43e97b;
}

.about-link:hover {
    opacity: 60%;
    transition: 0.15s ease-in-out;
}


/* == imweb == */
.imweb-wrap {
    width: auto;
    margin: auto;
    left: 0;
}

.imweb-bg {
    width: 100%;
    left: -20%;
}

imweb-why {
    width: 65%;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 2.7vw;
    color: rgb(255, 255, 255);
}

.imweb-reason-wrap{
    width: 65%;
    margin: auto;
}

.imweb-reason-h {
    font-size: 1.4vw;
    font-weight: 800;
    padding-top: 5.55vw;
}

.imweb-reason-b {
    font-size: 1.11vw;
    font-weight: 500;
    margin-top: 1.73vw;
}


/* == concept == */
.concept-wrap {
    width: 100%;
    margin: auto;
    margin-top: 6vw;
}

.concept-bg {
    position: absolute;
    left: 0;
}

.concept-text-wrap {
    width: 41.66vw;
    position: relative;
    padding-left: 13.8vw;
    padding-top: 25%;
}

concept-h {
    font-size: 3.5vw;
    font-weight: 900;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

concept-b {
    font-size: 1.2vw;
    width: 38vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.concept-2-wrap {
    width: 100%;
    height: 110vw;
    margin: auto;
    left: 0;
    position: absolute;
    margin-top: 15%;
    background-color: black;
    z-index: 1;

}

.typocolor-wrap, .navi-bar-wrap {
    width: 73vw;
    margin: auto;
    padding-top: 5vw;
    margin-top: 3.47vw;
}

.typocolor-wrap {
    display: flex;
    justify-content: space-between;
}

concept-2-h {
    font-size: 1.5vw;
    font-weight: 900;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typography-img {
    margin-top: 3vw;
}

.color-box-wrap {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.color-box-white, .color-box-green, .color-box-gray, .color-box-black {
    width: 4.16vw;
    height: 4.16vw;
    border-radius: 20%;
    margin-top: 3.5vw;
    zoom: 0.8;
}

.color-box-white {
    background-color: aliceblue;
}

.color-box-green {
    background-color: #6eff00;
}

.color-box-gray {
    background-color: #363636;
}

.color-box-black {
    background-color: #000000;
    border: 0.5px solid white;
}

.color-name {
    color: white;
    padding-top: 1.38vw;
    font-size: 1.04vw;
}

.navi-bar-wrap, .wireframe-wrap {
    text-align: center;
    margin-top: 8vw;
}

.navi-bar-img{
    margin-top: 2vw;
}

wireframe-whitetext {
    font-size: 0.9vw;
    color: white;
}

.wireframe-img {
    margin-top: 82vw;
    z-index: 1;
    position: relative;
}

/* ==traffic== */
traffic-text-h, h2 {
    max-width: 55vw;
    display: flex;
    align-items: baseline;
}

traffic-text-h {
    font-size: 1.4vw;
    font-weight: 800;
    margin-left: 7vw;
}

h2 {
    margin-left: 1.5vw;
    font-size: 5vw;
    background: -o-linear-gradient(45deg,#43e97b,#38f9d7,#55ff3f);
    background: linear-gradient(45deg,#43e97b,#38f9d7,#55ff3f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    -webkit-animation: gradient-text 3s ease infinite;
            animation: gradient-text 3s ease infinite;
}


@-webkit-keyframes gradient-text {
    0% {
      background-position: 0% 50%;
    }
      50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient-text {
    0% {
      background-position: 0% 50%;
    }
      50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* ==problem== */
.problem-wrap {
    max-width: 55vw;
    margin-left: 7vw;
}

problme-h {
    font-size: 20px;
    font-weight: 800;
}

problem-b {
    font-weight: 500;
    font-size: 1.11vw;
}


/* ==traffic== */
.traffic-wrap {
    width: 100%;
    margin: auto;
    display: flex;
}

.traffic-img {
    margin-left: 45vw;
    position: absolute;
}

traffic-text-b {
    max-width: 70vw;
    margin-left: 7vw;
    margin-top: -3vw;
    line-height: 2.5vw;
    font-weight: 500;
    font-size: 1.11vw;
    color: black;
    position: relative;
}