    /* ----------------------Mobile 미디어쿼리------------------------------ */
    @media only screen and (max-width: 480px) {
}

    /* ----------------------Desktop 미디어쿼리------------------------------ */
    @media only screen and (min-width: 2000px) { 
}

   /* ------------------------------------------------------------- */
   
   /* -------- spaces ------- */
.space {
    height: 1vw;
}

.space1 {
    height: 3vw;
}

.space2 {
    height: 7.5vw;
}

.space3 {
    height: 8vw;
}

.space4 {
    height: 10vw;
}

.space5 {
    height: 15vw;
}

.space6 {
    height: 20vw;
}

.space7 {
    height: 30vw;
}
/* ------------------------ */
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: white;
    -webkit-animation: fadein 2.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* === summary === */
.summary-wrap {
    width: 800px;
    height: auto;
    margin: auto;
}

.summary-section1 {
    font-size: 3.5vw;
    font-weight: 900;
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary-section2 {
    display: flex;
    margin-top: 1.7vw;
}

summary-section2-text {
    font-size: 1.2vw;
    max-width: 550px;
    margin-left: 50px;
    font-weight: 600;
}

.summary-section3 {
    display: flex;
    margin-top: 1.7vw;
    justify-content:space-between;
}

h1 {
    font-size: 1.2vw;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

summary-section3-text {
    font-size: 1.2vw;
    max-width: 550px;
    font-weight: 600;
}

/* == about == */

.about-wrap {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.about-video {
    width: 100%;
    filter: brightness(40%);
    position: relative;
    object-fit: cover;
}

.about-texts {
    max-width: 38vw;
    color: white;
    /* padding: 20% 10%; */
    position: absolute;
}

.about-text-h {
    font-weight: 800;
    font-size: 2.7vw;
}

.about-text-b {
    font-weight: 500;
    font-size: 1.3vw;
}

.about-link {
    font-size: 1.3vw;
    font-weight: 700;
    text-decoration: none;
    color: #43e97b;
}

.about-link:hover {
    opacity: 60%;
    transition: 0.15s ease-in-out;
}

.imweb-wrap {
    width: 100%;
    margin: auto;
}

.imweb-bg {
    left: 0;
    margin: 0;
}

imweb-why {
    width: 65%;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 2.7vw;
    color: rgb(255, 255, 255);
}

.imweb-reason {
    width: 65%;
    margin: auto;
    color: black;
    margin-top: 25px;
    
}

.imweb-reason-h {
    font-size: 23px;
    font-weight: 800;
    padding-top: 80px;
}

.imweb-reason-b {
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.concept-bg {
    zoom: 1.2;
}